# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\app\app1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
